Repository Trust-Machines/stacks-sbtc, pull requests merged in 2023-07, with the labels that each got.

#512 More universal unit tests, ability to edit bootstrap logic
  sbtc-mini/ext/generate-tests.ts
  sbtc-mini/scripts/test.sh
  sbtc-mini/tests/bootstrap.ts
Labels: sbtc-mini, clarity-workstream

#514 fix: specify peg-in unlock script input index as parameter
  sbtc-mini/contracts/sbtc-peg-in-processor.clar
  sbtc-mini/tests/sbtc-peg-in-processor_test.clar
Labels: sbtc-mini, clarity-workstream

#513 chore: remove protocol-caller parameter
  sbtc-mini/contracts/sbtc-token.clar
Labels: sbtc-mini, clarity-workstream

#508 Fix test-was-wtx-mined-internal-5
  sbtc-mini/tests/clarity-bitcoin_test.clar
Labels: sbtc-mini, clarity-workstream

#529 Peg-in unlock script and spender pub key verification
  sbtc-mini/contracts/sbtc-btc-tx-helper.clar
  sbtc-mini/contracts/sbtc-peg-in-processor.clar
  sbtc-mini/contracts/sbtc-testnet-debug-controller.clar
  sbtc-mini/scripts/coverage-report.sh
  sbtc-mini/tests/sbtc-btc-tx-helper_test.clar
  sbtc-mini/tests/sbtc-peg-in-processor_test.clar
Labels: sbtc-mini, clarity-workstream

#579 Improve get-current-window
  sbtc-mini/contracts/sbtc-stacking-pool.clar
  sbtc-mini/tests/sbtc-stacking-pool_test.clar
Labels: clarity-workstream

#586 Add mock function for stx-account in pox-3
  sbtc-mini/contracts/pox-3.clar
Labels: clarity-workstream

#422 fix: will fail when a coinbase tx is not confirmed
  sbtc-mini/contracts/clarity-bitcoin.clar
  sbtc-mini/ext/generate-proof.ts
  sbtc-mini/tests/clarity-bitcoin_test.clar
  sbtc-mini/tests/sbtc-peg-in-processor_test.clar
Labels: sbtc-mini, clarity-workstream

#601 Temporarily disable --release option in rust matrix workflow to avoid…
  .github/workflows/rust.yml
Labels: chore, CI

#591 Add simple test for sign-pre-register
  sbtc-mini/Clarinet.toml
  sbtc-mini/tests/sbtc-btc-tx-helper_test.clar
  sbtc-mini/tests/sbtc-stacking-pool_signer_test.clar
Labels: clarity-workstream

#578 sBTC-mini Stacking Pool Quick Fixes
  sbtc-mini/contracts/sbtc-stacking-pool.clar
Labels: clarity-workstream

#511 More sBTC Registry tests
  sbtc-mini/tests/sbtc-registry_test.clar
Labels: sbtc-mini

#478 Use const declarations for variables that are never reassigned after declared
  sbtc-mini/ext/generate-tests.ts
Labels: sbtc-mini, clarity-workstream

#613 [clarity] Add script for flow unit tests
  sbtc-mini/Clarinet.toml
  sbtc-mini/contracts/pox-3.clar
  sbtc-mini/contracts/sbtc-stacking-pool.clar
  sbtc-mini/ext/generate-flow-tests.ts
  sbtc-mini/ext/generate-tests.ts
  sbtc-mini/ext/utils/clarity-parser.ts
  sbtc-mini/ext/utils/generate.ts
  sbtc-mini/scripts/test.sh
  sbtc-mini/tests/sbtc-stacking-pool_flow_test.clar
Labels: sbtc-mini, clarity-workstream
